/*sidebar css starts here*/
.left-content {
    background-color: #000000;
    padding: 0;    
    height: 100vh;
    
}
.left-content .profile-section 
{
    padding:4em 2em 2em;
}
.left-content .profile-section h1 {
    color: #01a7a0;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.left-content .profile-section span {
    color: #fff;
}
.left-content .profile-section img.img-fluid {
    border-radius: 50%;
    height: 9rem;
    border: 2px solid #fff;
    width: 6em;
}
.left-content .profile-section p {
    color: #fff;
    font-size: 2rem;
}
.form-control {
    display: block;
    width: 65%!important;
}
 
ul.side-link-desktop a {
    color: #fff;
    font-size: 1.7rem;
    line-height: 5rem;
}
ul.side-link-desktop a .fa {
    padding-right: .8em;
} 
ul.side-link-desktop li {
    padding: 0 5em;
}
ul.side-link-desktop{
    padding: 0;
}


ul.side-link-desktop li:hover {
    background-color: #3a3a3a;
    cursor: pointer;
    border-left: 0px solid #01a796;
}
/*sidebar css ends here*/

/*right-content start here*/
::-webkit-scrollbar {
    width: 20px;
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
  }
 
.right-side-content {
    padding: 1em 0 0 1em;
}
.right-side-content .header-content {   
    display: flex;
    justify-content: space-between;
    padding: 0 0 2em 0;
    border-bottom: 2px solid #f5f0f0;
}
.right-side-content .header-content h2 {
    font-size: 2.2rem;
}
.course-title-form input {
    padding: 1.4em .6em;
    font-size: 1.5rem;
}
.course-title-form .form-group {
    margin-bottom: 3rem;
}
.course-title-form {
    padding: 2em 1em;
}
.course-title-form select {
    height: 4.5rem;
    font-size: 1.8rem;
}
.course-title-form label {
    color: #c6c6c6;
    font-size: 1.8rem;
}
button.btn.btn-info.continue-btn.btn-large {
    font-size: 1.8rem;
    border: 0em;
    padding: .5em 2em;
    float: right;
    margin: 3em 1em 0 0;
}
section.course-section {
    overflow-y: hidden;
    height: 100%;
}
/*right-content end here*/

/*plan your course start*/
.plan-course .plan-course-head {
    padding: .5em .8em;
}
.Pricing-section h2.plan-course-head {
    padding: .5em 0.6em;
    border-left: 2px solid #17a2b8;
}
.price-select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
select#price_selcet_2 {
    width: 30rem!important;
    width: 100%;
}
select#price_selcet_1 {
    width: 10em!important;
    margin: 0 .5em;
}
.Pricing-section form.course-title-form {
    height: 85vh;
    overflow-y: scroll;
}
.Pricing-section small {
    color: #a5a4a4;
    font-size: 1.6rem;
}
label.label-top {
    display: flex;
    width: 65%;
    justify-content: space-between;
    font-size: 1.8rem;
}
.video-icon .inner-icon-text img {
    width: 20%;
    opacity: .1;
}
.video-icon.relative .text-center.inner-icon-text {
    padding: 5em 0em;
    border: 1px solid #dad8d8;
    margin: 10% 30%;
    cursor: pointer;
}
.create-content-section {
    padding: 2em .5em;
}
p.section-title {
    padding: 2em 0 0 0;
    font-size: 1em;
    color: #adacac;
}
button.btn.btn-info.add-content {
    padding: .5em 1.5em;
    font-size: 1em;
}
.section-inner-content {
    padding: 1em .7em;
}
.section-intro p {
    font-size: 2rem;
    color: #9a9696;
}
.section-detail-inner input {
    padding: 1.6em .6em;
    font-size: 1.5rem;
}
.section-detail-inner {
    padding: 2em;
    background-color: #f7f7f7;
}
.section-inner-content.nav.nav-tabs {
    padding: .2em;
}
.section-inner-content .nav.nav-tabs li {
    padding: .5em .5em;
}
.section-inner-content .nav.nav-tabs li.active {
    border-bottom: 3px solid #17a2b8;
}
.section-inner-content .tab-content {
    padding: 1em;
    border: 1px solid #e6dddd;
}
.section-inner-content .nav-tabs a {
    color: #b1a9a9;
    font-size: 1.7rem;
}
.option-btn .btn {
    font-size: 1.5rem;
}

.section-inner-content  .select-option i.fa.fa-plus {
    padding: 3em 4em;
    border: 1px solid #eae5e5;
    cursor: pointer;
}
.create-sec-container-main {
    height: 82vh;
    overflow-y: scroll;
}
 
/*plan your course end*/



/*profile page CSS Start*/

.profile-inner-section {
    width: 80%;
}
.input-group.phone-number {
    width: 65%;
}
.input-group {
    width: 65%;
}
div#pwd-change {
    width: 65%;
}
.profile-inner-section i.fa.fa-pencil {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #0eb3a3;
}

span.input-group-addon.tick-id {
    background-color: #eaeaea;
    z-index: 9999999!important;
    width: 5rem;   
    border: 1px solid #dcdcdc;  
}

span.input-group-addon.wrong-id {
    background-color: #eaeaea;
    z-index: 9999999!important;
    width: 5rem;
    border: 1px solid #dcdcdc;
}

span.input-group-addon.tick-id .fa {
    position: absolute;
    top: 1em;
    right: 4.3em;
    color: #0eb3a3;
}

span.input-group-addon.wrong-id  .fa {
    position: absolute;
    top: 1em;
    right: 1.3em;
    color: #F44336;
}

.profile-inner-section #textarea {
    font-size: 1.5rem;
}
.profile-inner-section {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}
.likes-area a {
    background-color: #f1f1f1;
    padding: .7em 1.5em;
    border-radius: 50em;
    color: #868686;
    margin: 0 .2em;
    font-size: 1.2rem;
}
.profile-inner-section .likes-area {
    display: flex;
    justify-content: flex-start;
}

.profile-inner-section i.fa.fa-eye {
    position: absolute;
    top: 1em;
    right: 1.3em;
    color: #ada6a5;
}
div#pwd-change a {
    color: #737373;
}
.likes-area a .fa {
    color: #0dc5be;
}

.pwd-quality small {
    font-size: 1.5rem;
}
span#strog-id {
    color: #09cc55;
}span#medium-id {
    color: #ffae6b;
}
span#weak-id {
    color: #ff0000;
}
 
.pwd-update-buttons-sec button {
    font-size: 1.5rem;
}
.pwd-update-buttons-sec {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}
 
/*profile page CSS End*/



/*main course CSS start */
.search-filter-course {
    display: flex;
    justify-content: space-between;
}
.input-group input#search-query {
    width: 15em!important;
}
span.input-group-addon.search-id {
    background-color: #fbf8f8;
    z-index: 9999999!important;
    width: 5rem;
    border: 1px solid #dcdcdc;
}
.search-filter-course i.fa.fa-search {
    position: absolute;
    top: 0.6em;
    right: 1.3em;
    color: #999999;
}
.search-filter-course .form-group {
    margin-bottom: 0;
}

.search-filter-course .input-group {
    width: auto;
}
.search-filter-course select#select-query-options {
    width: 10em!important;
    position: absolute;
    left: 20em;
    font-size: 1.6rem;
    color: #9f9494;
}

.search-filter-course button#createbtn{
    font-size: 1.5rem;
    padding: 0 1.4em;
}
.course-search-results {
    padding: 1em 1em;
}
.course-search-results {
    display: flex;
    justify-content: start;
    align-items: center;
}
.course-search-results .courser-title-content {
    padding: 0 2em;
    line-height: 3em;
}
.course-search-results .courser-title-content button {
    font-size: 1.5rem;
}
div#main-course-search-results {
    height: 66vh;
    overflow-y: scroll;
}
.course-edit.text-right {
    padding: 0 2em;
}
.course-edit.text-right button.btn.btn-default {
    font-size: 1.4rem;
    background-color: #f3f3f3;
    padding: .5em 1em;
}
/* main course CSS start */


/*subscribers CSS start */
h2.subscribed {
    flex: 1;
}
h2.subscribed span {
    color: #716d6d;
    font-size: 1.8rem;
}
.search-box-subscribe .fa {
    padding: 0em 1em;
}
.container.subscrbe-container {
    padding: 2em 0;
    height: 85vh;
    overflow: scroll;
}
/*subscribers CSS end */





/*media css Start */
@media(max-width:878px){
    .input-group input#search-query {
        width: auto!important;
    }
    .search-filter-course select#select-query-options {
        width: auto!important;       
    }

    .profile-inner-section {
        width: 100%;
    }
    .input-group.phone-number {
        width: 100%;
    }
    .input-group {
        width: 100%;
    }
    div#pwd-change {
        width: 100%;
    }
    ul.side-link-desktop {
        display: none;
    }
    ul.side-link-mobile {
        /* display: flex;
        justify-content: center; */
    }
    ul.side-link-mobile {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    ul.side-link-mobile li a .fa {
        font-size: 2.3rem;
        color: #fff;
        padding: .5em .3em;
    }
    .left-content {
        background-color: #000000;
        padding: 0;
        height: auto;
    }
   
    label.label-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.8rem;
    }
    .search-filter-course select#select-query-options {        
        position: unset;
        left: 0;
    }
}

@media(min-width:878px){
    ul.side-link-mobile {
        display: none;      
    }
}
@media(max-width:768px){
    .form-control {
        display: block;
        width: 100%!important;
    }
    select#price_selcet_2 {         
        width: 100%!important;
    }
    .video-icon.relative .text-center.inner-icon-text {
        padding: 5em 0em;
        border: 1px solid #dad8d8;
        margin: 2% 10%;
        cursor: pointer;
    }
    .profile-inner-section .likes-area {         
        flex-wrap: wrap;
    }
    .likes-area a {    
        margin: .3em .2em;      
    }
    .course-search-results {        
        flex-wrap: wrap;
    }
    .course-edit.text-right {
        padding: 0 1em;
    }
    .search-filter-course {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
/*media css end */