/* comon UI Start*/
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MyriadPro-Regular//MyriadPro-Regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts//MyriadPro-Regular/MyriadPro-Regular.otf")
        format("opentype"),
      /* Open Type Font */
        url("../fonts//MyriadPro-Regular/MyriadPro-Regular.svg") format("svg"),
      /* Legacy iOS */ url("../fonts//MyriadPro-Regular/MyriadPro-Regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts//MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
      /* Modern Browsers */
        url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Xirod";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Xirod/xirod.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Xirod/xirod.eot#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts//Xirod/xirod.otf") format("opentype"),
      /* Open Type Font */ url("../fonts//Xirod/xirod.svg") format("svg"),
      /* Legacy iOS */ url("../fonts//Xirod/xirod.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/Xirod//xirod.woff") format("woff"),
      /* Modern Browsers / url("../fonts/Xirod//xirod.woff2") format("woff2"); / Modern Browsers */    
    
  }  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  html 
  body {
    margin: 0;  
    font-size: 1.6rem;
    font-family: "MyriadPro", "Xirod", sans-serif;
  }
a:hover{
    text-decoration: none!important; 
}
ul{
    list-style: none;
}
.relative{
    position: relative;
}
.p-l-0{
    padding-left: 0px!important;
}
/* comon UI End*/

/*Menu section start*/
 
.bg-dark {
    background-color: #212121!important;
}
.logo-link {
    font-size: 3rem;
    color: #00a99d!important;
    font-weight: bold;
    font-family: "Xirod", sans-serif !important;
}
.logo-link-mobile {
    font-size: 3rem;
    color: #00a99d!important;
    font-weight: bold;
}
.signup-links a {
    background-color: #00a99d;
    padding: 1rem 3rem;
    color: #fff!important;
    font-size: 1.3rem;
} 
.main-menu {
    display: flex;
    /* float: right; */
    position: absolute;
    right: 0;    
}
ul.main-menu-links {
    display: inline-flex;
}
ul.main-menu-links li {
    padding: 1rem 3rem;
}
ul.main-menu-links li a {
    font-size: 1.8rem;
    color: #fff;
}
ul.main-menu-links-mobile {
    padding-left: 0rem;
}
ul.main-menu-links-mobile a {
    line-height: 1.6em;
    color: #5f5353;
    font-size: 1.6rem;   
}
.main-menuadjust.relative {
    width: 100%;
    background-color: #0a0a0a57;
    position: absolute;
    z-index: 9999999!important;
    height: 50px;
}
/*Menu section end*/

/*Banner Section start*/
.container-fluid.main-banner {
    background-image: url('images/main-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;
    height:85vh;
    max-height: 850px;
    
}
/*Banner Section end*/

/*upcoming class section start*/
.upcoming-class {
    padding-left: 0px!important;
}
.upcoming-class h1.light-blue {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: -5rem;
    font-weight: 700;
    background-color: #00a99d;
    padding: 1rem 3rem;
}
.upcoming-class .col.col1 {
    padding: 0px;
} 
.blue-text {
    color: #00a99d;   
}
h3.blue-text {
    color: #00a99d;
    font-size: 2.2rem;
    font-weight: 500;
}
.upcoming-class h3.blue-text {
    padding-top: 3rem;
}
.upcoming-class .col {     
    padding: 0px;
}
img.img-fluid.more-item {
    width: 3rem;
}
.upcoming-class {
    padding: 0rem 0rem 3rem 0rem;
}
/*upcoming class section end*/

/*booking class-sectionm start*/
section.booking-class {
    background-image: url(images/booking-class-bg.jpg);
    background-size: cover;
    background-attachment: fixed;    
    margin: 0rem 0 10rem 0;
}

section.booking-class-new {
    background-image: url(images/booking-class-bg.jpg);
    background-size: cover;
    background-attachment: fixed;    
    margin: 0rem;
    padding: 4rem 2rem;
}

.booking-now-btn .btn{
    font-size: 2rem;
    background-color: #00a99d;
}
section.booking-class-new h1.white-text {
    font-size: 3rem;
    text-transform: uppercase;
}
.white-text {
    color: #fff;
}
.booking-class .white-text {
    color: #fff;
}
.booking-class h1.white-text{
    color: #fff;
    font-size: 3.2rem;
    text-transform: uppercase;
    padding: 2em 1em;
}
a.blue-bg-text {
    background-color: #00a99d;
    padding: .5rem 1.2rem;
    position: absolute;
    top: 6.5rem;
    font-size: 2.5rem;
}


.booking-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.booking-now-btn a.book-btn {
    background-color: #00a99d;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2.5rem;
}


/*booking class-sectionm end*/


/*blog-section start*/
.latest-post-heading h1.light-blue {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    font-weight: 700;
    background-color: #00a99d;
    padding: 1rem 1rem;
}
section.latest-post {
    background-color: #f1f1f1;
    padding: 1em;
}
.blog-content {
    padding: 2.5em 5em;
    background-color: white;
}
.readmore-bg {
    background-color: #00a99d;
    padding: 1rem 3rem;
    font-size: 1.8rem;
}
.divider-gap {
    height: 15px;
}
.latest-post h1.light-blue {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    font-weight: 700;
    background-color: #00a99d;
    padding: 1rem 2rem;
    z-index: 9;
    left: 1.4rem;
}
section.latest-post .row:first-child {
    padding-top: 8rem;
}
/*blog-sectionm end*/


/* ABOUT US PAGE CSS STRATS HERE  */

/* banner section starts */
.about-banner-section {
    background-image: url('images/about-banner.jpg');
    background-attachment: fixed;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-banner-section h2.blue-text {
    position: absolute;
    top: 15rem;
    left: 5rem;
    font-size: 5rem;
    font-weight: 700;
}
/* banner section ends */

/*about banner content*/
h1.heading-text-blue {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
    font-size: 3rem;
    color: #fff;
}
.about-content.inner-content {
    padding: 2rem 1rem;
}
section.about-content p {
    font-size: 1.7rem;
    color: #fff;
}
section.about-content h1.white-text {
    background-color: #00a99d;
    padding: 5rem;
    font-size: 5rem;
}
section.about-content {
    background-color: #404040;
}
.sports-image {
    padding: 5rem;
}
section#about-booking-section {
    margin-bottom: 0;
}
/*about banner content*/

/* ABOUT US PAGE CSS ENDS  HERE  */


/*MEET TEAM CSS STARTS */

/*meet team Banner Section start */
 .meet-team-section  h2.blue-text {
    position: absolute;
    top: 15rem;
    left: 5rem;
    font-size: 5rem;
    font-weight: 700;
}
.meet-team-section {
    background-image: url(images/meet-team-bg.jpg);
    background-attachment: fixed;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.meet-team-members {
    padding: 3rem 1em;
    background-color: #1d1d1d;
}
.meet-team-members h3.blue-text {
    padding: 1rem 0 0;
}
/*meet team Banner Section end */
/*MEET TEAM CSS ENDS */



/*POWER ZONE PAGE CSS STATRS */

/*power zone banner start */
.power-zone-section {
    background-image: url(images/power-zone.jpg);
    background-attachment: fixed;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.power-zone-section h2.blue-text {
    position: absolute;
    top: 15rem;
    left: 5rem;
    font-size: 5rem;
    font-weight: 700;
}
.power-book-section section.booking-class {
    background-image: url(images/booking-class-bg.jpg);
    height: 20rem!important;
    background-size: cover;
    background-attachment: fixed;
    margin: 0rem 0 0rem 0 !important;
}

/*power zone banner end */

/*Power zone card section Start*/
.power-zone-card-section {
    padding: 6rem 3rem;
}
.power-zone-innercontent h2 {
    font-size: 2.5rem;
}
.power-zone-innercontent span {
    padding-right: .5em;
}
.power-zone-innercontent p {
    padding: 1rem 0;
}ul.equipment {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 2rem;
}
ul.equipment img {
    width: 2.5rem;
}
ul.equipment li {
    padding-right: 1rem;
}
.card-section-additem .more-item {
    position: absolute;
    right: 0;
    width: 5rem!important;
    bottom: 2rem;
}
.power-zone-card-section .row {
    padding-bottom: 5rem;
}
/*Power zone card section End*/


/*POWER ZONE PAGE CSS ENDS */



/*Power main page css Starts */

/*Power main banner section start*/
.power-main-section {
    background-image: url(images/power-zone-main.jpg);
    background-attachment: fixed;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 

 
.power-main-heading {
    padding: 0rem 2rem;
}
.power-main-heading h1.blue-text {
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: -6rem;
}
.bottom-powerbanner-content p {
    padding: 3rem ;
    background-color: #343434;
    color: #fff;
    margin-bottom: 0;
}
/*Power main banner section end*/
section.power-zone-content {
    background-color: #1f1f1f;
}

.power-zone-content h1.blue-text {
    font-size: 3rem;
    font-weight: 600;
}
.power-zone-content p {
    color: #fff;
}

/*Power inner content start */
section.power-zone-content .row {
    padding: 3rem 3rem;
}
/* power inner content end */


/*Power main page css Ends */

/*footer section start */
ul.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
ul.footer-links a {
    padding: 1.5rem;
    color: #fff;
}
section.footer-section {
    background-color: #252525;
    padding: 2rem;
}
/* footer ends */