/*Sign in css start */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 2rem;
}
div#signinmodal{
    position: relative;
}
div#signinmodal .modal-content {
    background-color: #151515de;
    padding: 2rem;
    margin: 0 auto;
    width: 70%;
    min-height: 70vh;
}
h1.sign-heading {
    color: #00a99d;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
}
.sign-in {
    font-size: 1.5rem;
    padding: 3rem;
    border-radius: 0;
    background-color: #4d4d4d;
    border: none;
}
div#signinmodal p.text-white {  
    padding-left: 1rem;
    font-size: 2rem;
}
div#signinmodal .form-group {
    margin-bottom: 2rem;     
}
::placeholder { 
    color:#fff!important;
    opacity: 1; 
  }

  div#signinmodal .form-control:focus {
    color: #ffffff;
    background-color: #4d4d4d;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.sing-in-btn {
    background-color: #00a99d;
    border: none;
    border-radius: 0;
}
.sign-bottom {
    display: flex;
    justify-content: space-between;   
}
.sign-bottom label.form-check-label {
    color: #fff;
    font-size: 1.4rem;
}
.sign-bottom input#exampleCheck1 {
    position: absolute;
    right: 9rem;
    height: 1.9rem;
    width: 1.5rem;
}
.sign-bottom p.text-right {
    color: #fff;
    font-size: 1.4rem;
}
.sign-bottom a {
    color: #fff;
}
.fb-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0;
}
.fb-section img.img-fluid {
    width: 2.5rem;
}
.fb-section p {
    color: #Fff;
    margin-bottom: 0;
    font-size: 1.4rem;
}
.sign-bottom .form-check {
    position: relative;
    display: block;
    padding-left: 2.25rem;
}
.sing-in-btn:hover {
    background-color: #068b9c;
}
/* sign in css end */


/* sign up css start */
div#signupmodal .modal-content {
    background-color: #151515de;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    min-height: 70vh;
}
h1.signup-heading {
    color: #00a99d;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
}
small.email-helps {
    color: #fff;
}
.premium-btn {
    float: right;
}
.captcha{
    text-align: center;
}
small.info-term {
    color: #fff;
}
/* sign up css end */


/*account seclection start */
div#accountmodal .modal-content {
     background-color: #151515de;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    min-height: 70vh;
}
.account-selection thead {
    background-color: #00a99d;
    border: 0px;
}
.account-selection thead th {
    border: 1px solid #000000;
    padding: .8rem;
    text-align: center;
    color: #000;
}
.account-selection td {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.account-selection th.inner-head {
    background-color: #808080;
}
.account-selection tr.grey {
    background-color: #666666;    
}
tr.dark-grey {
    background-color: #333333;
}
.account-selection .fa {
    font-size: 3rem;
    color: #00a99d;    
}
.account-selection tr.blue-bg {
    background-color: #00a99d;     
}
.account-selection tr.blue-bg td {
    color: #000;
    border-left: 1px solid #000;
}
@media (min-width: 576px){
div#accountmodal .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}
/*account seclection end */

/*team modal css  start*/
div#teammodal .modal-content {
    background-color: #151515de;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    min-height: 70vh;
}
.team-detail-container {
    display: flex;
    justify-content: start;
}
.team-detail-container h1.blue-text {
    padding: 0 2rem;
}
.team-detail-container .team-info-content small {
    color: #fff;
    font-size: 1.7rem;
}
.team-info img.img-fluid {
    width: 100rem;
}
.team-info-content p {
    color: #fff;
    font-size: 1.4rem;
    padding: 0 2rem;
}
.team-detail-container2 {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
}
.team-detail-container2 .line {
    border-bottom: 3px solid #fff;
    height: 1.2rem;
    width: 80%;
    margin: 0 auto;
}
.team-detail-container3 {
    display: flex;
    justify-content: start;
}
.img-info img.img-fluid.team-img {
    width: 12rem;
}
 
.img-info img.img-fluid.item-add {
    width: 3rem;
    margin: 2rem auto;
    cursor: pointer;
}
.team-detail-container3 .img-info {
    text-align: center;    
    padding: 2rem 1rem;
}
@media(max-width:768px){
    .team-detail-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .team-info img.img-fluid {
        width: 30rem;
        text-align: -webkit-center;
    }
    .team-detail-container2 .line {
        border-bottom: 3px solid #fff;
        height: 1.2rem;
        width: 60%;
        margin: 0 auto;
    }    
}
@media(max-width:520px){
    .team-detail-container3 {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }   
     
}
@media (min-width: 576px){
 div#teammodal .modal-dialog {
    max-width: 75rem;
    margin: 1.75rem auto;
} 
}
/*team modal css end */

/*product detail css start */
div#productmodal .modal-content {
    background-color: #fff;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    min-height: 70vh;
}
.product-details-conatiner {
   display: flex;
   justify-content: space-around;
}
.inner-img-details img.img-fluid {
    width: 13rem;
}
h2.price-tag {
    color: #770606;
    font-size: 2.5rem;
}
.review-section {
    display: flex;
    justify-content: space-between;
}
.review-section a {
    color: #00a99d;
}
.custom-select {    
    font-size: 1.5rem;
}
.quantity {
    display: flex;
    justify-content: space-between;
}
.quantity a {
    border: 1px solid #454545;
    padding: .2rem 1.5rem;
    font-size: 2rem;
    color: #000;
    font-weight: 700;
}
.number {
    border: 1px solid #454545;
    padding: .2rem 2.5rem;
    font-size: 2rem;
    color: #000;     
}
.quantity .sing-in-btn {
    font-size: 1.5rem;
}
.product-first {
    flex: 2.5;
}
.product-second {
    flex: 2;
}
ul.iner-product {
    list-style: disc;
    padding: 1rem 2rem;
}
.product-second h3 {
    font-weight: 600;
}
.product-btn {
    flex: 1.5;
    margin-left: 2rem;
}
@media(max-width:768px){
    .quantity .sing-in-btn {
        font-size: 1rem;
        padding: 0;
    }
}
@media(max-width:576px){
    .inner-img-details{
        flex-wrap: wrap;
    }
    .product-details-conatiner {
        flex-wrap: wrap;
    }
    .product-first, .product-second {
        flex: auto!important;
    }
   
}
@media (min-width: 576px){
    div#productmodal .modal-dialog {
    max-width: 85rem;
    margin: 1.75rem auto;
}
}

/*product detail css end */